:root
{
	--localhost:
	{
		all: unset;
	};
}

@document domain('localhost')
{
	@apply --localhost
}

@viewport
{
	orientation: landscape;
}

.test-valid
{
	box-sizing: border-box;
	clip-path: unset;
	gap: 1em;
	column-gap: 1em;
	row-gap: 1em;
	word-break: break-all;
}

.test-invalid
{
	box-align: unset;
	box-direction: unset;
	box-flex: unset;
	box-flex-group: unset;
	box-lines: unset;
	box-ordinal-group: unset;
	box-orient: unset;
	box-pack: unset;
	box-sizing: padding-box;
	clip: unset;
	grid-column-gap: unset;
	grid-gap: unset;
	grid-row-gap: unset;
	image-orientation: flip;
	image-rendering: optimizeQuality;
	image-rendering: optimizeSpeed;
	ime-mode: unset;
	page-break-after: unset;
	page-break-before: unset;
	scroll-snap-coordinate: unset;
	scroll-snap-destination: unset;
	scroll-snap-points-x: unset;
	scroll-snap-points-y: unset;
	scroll-snap-type-x: unset;
	scroll-snap-type-y: unset;
	text-decoration: blink;
	text-decoration-line: blink;
	user-modify: unset;
	word-break: break-word;
	word-wrap: normal;
}

