@document domain('localhost')
{
	body
	{
		all: unset;
	}
}

@viewport
{
	orientation: landscape;
}

.test-valid
{
	box-sizing: border-box;
	clip-path: unset;
	gap: 1em;
	column-gap: 1em;
	row-gap: 1em;
	word-break: break-all;
}

.test-invalid
{
	box-sizing: padding-box;
	clip: unset;
	grid-gap: 1em;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	ime-mode: unset;
	scroll-snap-coordinate: unset;
	scroll-snap-destination: unset;
	scroll-snap-type-x: unset;
	scroll-snap-type-y: unset;
	scroll-snap-points-x: unset;
	scroll-snap-points-y: unset;
	word-break: break-word;
	zoom: 1;
}

