@media (min-width: 50em)
{
	.test-valid
	{
		font: 1.125em arial;
		height: 1em;
		width: 1.25em;
	}
}

@media (min-width: 50.1em)
{
	.test-invalid
	{
		font: 1.1em arial;
		height: 1.05em;
		width: 1.20em;
	}
}
